<h2>Welkom bij de website voor garage veldkevers!</h2>

<h3>Wie zijn wij?</h3>
<p>Al jaren zijn wij er voor de liefhebber van klassieke auto's.
Zoekt u al heel lang een mooie klassieke auto voor uw verzameling, <br/>
maar kunt u nooit vinden wat u zoekt? Dan zijn wij, garage Veldkevers, er voor u.</p>

<h3>Wat doen we?</h3>
<p>Wij verkopen, zoals u wellicht al doorhad, klassieke auto's. 
In de garage zijn er altijd twee verkopers aanwezig,<br/> deze zijn uiterst gespecialiseerd in alle auto's en    kunnen u helpen met kiezen door deskundig advies aan te bieden.</p>

<h3>Wat hebben wij te bieden?</h3>
<p>Wij bieden een brede collectie aan klassieke auto's. Neem gerust een kijkje in onze "Auto's" sectie.